.Rproj.user/2D44B101/rmd-outputs
.Rproj.user/2D44B101/saved_source_markers
.Rproj.user/2D44B101/pcs/files-pane.pper
.Rproj.user/2D44B101/pcs/source-pane.pper
.Rproj.user/2D44B101/pcs/windowlayoutstate.pper
.Rproj.user/2D44B101/pcs/workbench-pane.pper
.Rproj.user/2D44B101/sources/per/t/AC7E44D2
.Rproj.user/2D44B101/sources/per/t/AC7E44D2-contents
.Rproj.user/2D44B101/sources/per/t/F93BBF82
.Rproj.user/2D44B101/sources/per/t/F93BBF82-contents
.Rproj.user/2D44B101/sources/prop/3F058417
.Rproj.user/2D44B101/sources/prop/B44458D0
.Rproj.user/2D44B101/sources/prop/F9040F35
.Rproj.user/2D44B101/sources/prop/INDEX
.Rproj.user/2D44B101/viewer-cache/5F3DEB82.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
r4ds.Rproj
.Rproj.user/shared/notebooks/paths
